@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
<form method="post" action="/account/login">
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
  </div>
  
  <button type="submit" class="btn btn-primary">Sign In</button>
  <button class="btn btn-primary"><a href="/account/register">Sign Up</a></button>
  
</form>
</div>
