@{
    ViewData["Title"] = "About us Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr/>
    <h1>About us </h1>
    <p>We provide the High class Tourism and Adventure Sport Experience.</p>
    <p>Safety first is our Moto</p>
    <p>India Top Tourism Company from last five year</p>
    <p>ShRoVi Adventure Sports pvt.Ltd </p> 
</div>
