@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr/>
    <h3>Contact</h3>
    <p>Email:shubhamkgulamkar@gmail.com</p>
    <p>Contact Number:7894561237</p>
    <p>Plot No. B-35,Jawahar Colony,Aurangabad</p>
</div>
